.page {
  background: #010001;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
}