.header__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  max-width: 262px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .header__menu {
    margin: 20px auto 10px;
}
}