.intro__description {
  margin: 26px auto 0;
  max-width: 268px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .intro__description {
    max-width: 150px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 20px;
  }
}